<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/soon.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/soon.js"></script>

    <title>Not available</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <span class="header" data-aos="fade-up">Coming soon</span>
            <p class="desc" data-aos="fade-up" data-aos-delay="50">This portfolio is not available due to it's development and will be launched soon!</p>
        </div>

        <div class="right" data-aos="fade-left">
            <img src="/resources/illustrations/undraw_building_websites_i78t.svg" alt="Website under construction">
        </div>
    </div>
</body>
</html>