<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/styles/panel.css">
    <link rel="stylesheet" href="/styles/components.css">


    <link rel="icon" type="image/png" href="/favicon.ico"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Education hub | Panel</title>
</head>
<body>


    <!-- NAV BAR -->
    <nav id="navigation">
        <div class="logo">
            <span class="site-name">Edu hub</span>
        </div>

        <div class="menu">
            <a href="/app" class="option">Panel</a>
            <a href="/#about" class="option">About</a>
            <a href="/#features" class="option">Features</a>
            <a href="/faq" class="option">FAQ</a>
        </div>

        <div class="buttons">
            <a href="/login" class="btn gradient-btn" id="avatar">Login</a>
        </div>

        <div class="hamburger">
            <div></div>
            <div></div>
        </div>
    </nav>


    <section class="section-1" id="panel">
        <div class="panel">
            <div class="switcher">
                <img src="/resources/icons/bookmark-arrow.png" alt="Bookmark arrow" class="icon32 bookmark">
            </div>

            <div class="latest-task">
                <span class="header">Latest note:</span>
                <p class="task" id="latest-task">No tasks yet</p>
            </div>

            <div class="buttons">
                <a href="/api/logout" class="btn">Logout</a>
            </div>
        </div>

        <div class="tiles">
            <a href="/app/calculator" class="tile">
                <div class="tile-name">
                    <img src="/resources/icons/features/calculator.png" alt="Calculator" class="icon64">
                    <span class="name">Calculator</span>
                </div>
            </a>

            <a href="/app/todo" class="tile">
                <div class="tile-name">
                    <img src="/resources/icons/features/todo.png" alt="Calculator" class="icon64">
                    <span class="name">TODO</span>
                </div>
            </a>

            <a href="/app/notepad" class="tile">
                <div class="tile-name">
                    <img src="/resources/icons/features/notepad.png" alt="Calculator" class="icon64">
                    <span class="name">Notepad</span>
                </div>
            </a>

            <a href="/soon" class="tile">
                <div class="tile-name">
                    <img src="/resources/icons/features/film.png" alt="Calculator" class="icon64">
                    <span class="name">Films</span>
                </div>

                <span class="soon">In development</span>
            </a>

            <a href="/soon" class="tile">
                <div class="tile-name">
                    <img src="/resources/icons/features/quiz.png" alt="Calculator" class="icon64">
                    <span class="name">Quizes</span>

                    <span class="soon">In development</span>
                </div>
            </a>

            <a href="/soon" class="tile">
                <div class="tile-name">
                    <img src="/resources/icons/features/compiler.png" alt="Calculator" class="icon64">
                    <span class="name">Compiler</span>

                    <span class="soon">In development</span>
                </div>
            </a>
        </div>
    </section>


    <footer>
        <img src="/resources/waves/footer-wave.svg" alt="Footer wave" class="wave">

        <div class="column left">
            <div class="corner">
                <div class="text logo">Education hub</div>
                <div class="bar"></div>
            </div>

            <div class="corner">
                <div class="bar big"></div>
                <div class="text copyright">&copy 2021. Designed and created by <a href="https://afilidia.com">Afilidia Group</a>. All rights reserved.</div>
            </div>
        </div>
        <div class="middle">
            <div class="options">
                <a href="#landing" class="option">Landing</a>
                <a href="/app" class="option">Panel</a>
                <a href="#about" class="option">About</a>
                <a href="#features" class="option">Features</a>
                <a href="/faq" class="option">FAQ</a>
            </div>

            <a href="#panel" class="to-top">
                <img src="/resources/icons/arrow-up.png" alt="Arrow up" class="icon32">
                <span class="text">to the top</span>
            </a>
        </div>

        <div class="column right">
            <div class="corner">
                <a href="https://discord.gg/PmD6ZS9PPz"><img src="/resources/icons/media/discord.png" class="media-i icon32"></img></a>
                <div class="bar small"></div>
            </div>

            <div class="corner">
                <div class="bar"></div>
                <div class="wrapper">
                    <a href="#" class="link">Privacy Policy</a>
                    <a href="#" class="link">Terms of service</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/animations.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>