<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/styles/notepad.css">
    <link rel="stylesheet" href="/styles/components.css">


    <link rel="icon" type="image/png" href="/favicon.ico"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Education hub | TODO list</title>
</head>
<body>

    <!-- NAV BAR -->
    <nav id="navigation">
        <div class="logo">
            <span class="site-name">Edu hub</span>
        </div>

        <div class="menu">
            <a href="/app" class="option">Panel</a>
            <a href="/#about" class="option">About</a>
            <a href="/#features" class="option">Features</a>
            <a href="/faq" class="option">FAQ</a>
        </div>

        <div class="buttons">
            <a href="/login" class="btn gradient-btn" id="avatar">Login</a>
        </div>

        <div class="hamburger">
            <div></div>
            <div></div>
        </div>
    </nav>


    <section class="section-1" id="main">
        <a class="comeback" href="/app">
            <img src="/resources/icons/arrow-up.png" class="icon32" alt="Comeback">
        </a>

        <div class="box workspace">
            <div class="topbar"></div>
        </div>

        <div class="box-wrapper">
            <div class="box manager">
                <span class="header">Options</span>

                <div class="options">
                    <div class="option">
                        <img src="/resources/icons/notepad/save.png" class="icon32" alt="Save">
                        <span class="option-name">Save note</span>
                    </div>

                    <div class="option">
                        <img src="/resources/icons/buttons/edit.png" class="icon32" alt="Save">
                        <span class="option-name">Change filename</span>
                    </div>

                    <div class="option">
                        <img src="/resources/icons/notepad/download.png" class="icon32" alt="Save">
                        <span class="option-name">Download</span>
                    </div>

                    <div class="option">
                        <img src="/resources/icons/notepad/delete.png" class="icon32" alt="Save">
                        <span class="option-name">Remove</span>
                    </div>
                </div>
            </div>

            <div class="box files">
                <span class="header">Files</span>

                <div class="files-list">
                    <span class="file">codejam <span class="ext">.txt</span></span>
                    <span class="file">school <span class="ext">.txt</span></span>
                    <span class="file">pleasehelp <span class="ext">.jd</span></span>

                </div>
            </div>
        </div>

    </section>


    <footer>
        <img src="/resources/waves/footer-wave.svg" alt="Footer wave" class="wave">

        <div class="column left">
            <div class="corner">
                <div class="text logo">Education hub</div>
                <div class="bar"></div>
            </div>

            <div class="corner">
                <div class="bar big"></div>
                <div class="text copyright">&copy 2021. Designed and created by <a href="https://afilidia.com">Afilidia Group</a>. All rights reserved.</div>
            </div>
        </div>
        <div class="middle">
            <div class="options">
                <a href="#landing" class="option">Landing</a>
                <a href="/app" class="option">Panel</a>
                <a href="#about" class="option">About</a>
                <a href="#features" class="option">Features</a>
                <a href="/faq" class="option">FAQ</a>
            </div>

            <a href="#main" class="to-top">
                <img src="/resources/icons/arrow-up.png" alt="Arrow up" class="icon32">
                <span class="text">to the top</span>
            </a>
        </div>

        <div class="column right">
            <div class="corner">
                <a href="https://discord.gg/PmD6ZS9PPz"><img src="/resources/icons/media/discord.png" class="media-i icon32"></img></a>
                <div class="bar small"></div>
            </div>

            <div class="corner">
                <div class="bar"></div>
                <div class="wrapper">
                    <a href="#" class="link">Privacy Policy</a>
                    <a href="#" class="link">Terms of service</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/animations.js"></script>
    <script src="/js/notepad.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>