@keyframes fade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.btn {
  outline: none;
  border: none;
  padding: 12px 35px;
  border-radius: 15px;
  background-color: #113CFC;
  color: #fff;
  text-decoration: none;
  transition: 150ms all ease;
}
.btn.gradient-btn {
  background-image: linear-gradient(to right, #193498, #113CFC) !important;
}
.btn.gradient-btn:hover {
  background-size: 400% 400%;
  animation: fade 1s linear infinite;
}
.btn:active {
  transform: scale(0.95);
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.input-wrapper input.input {
  position: relative;
  margin-top: 20px;
  outline: none;
  background: none;
  border: none;
  width: 90px;
  height: 40px;
  border-bottom: 3px solid #193498;
  font-size: 1.05em;
  padding-left: 10px;
  color: #113CFC;
  font-weight: 600;
  transition: 300ms all ease-out;
}
.input-wrapper input.input:focus {
  width: 180px;
}
.input-wrapper input.input:not(:placeholder-shown) {
  width: 180px;
}
.input-wrapper label {
  color: #193498;
  font-size: 0.7em;
  font-weight: 800;
}
.wave {
  position: absolute;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.icon16 {
  width: 16px;
  height: 16px;
}
.icon20 {
  width: 20px;
  height: 20px;
}
.icon24 {
  width: 24px;
  height: 24px;
}
.icon32 {
  width: 32px;
  height: 32px;
}
.icon48 {
  width: 48px;
  height: 48px;
}
.icon64 {
  width: 64px;
  height: 64px;
}
.icon128 {
  width: 128px;
  height: 128px;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
nav#navigation {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 70px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
nav#navigation.sticky {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
}
@media screen and (max-width: 768px) {
  nav#navigation {
    padding: 0 1rem;
  }
  nav#navigation .hamburger {
    display: block !important;
  }
  nav#navigation .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translateY(-200px);
    opacity: 0;
    transition: 300ms all cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  nav#navigation .menu.slide {
    transform: translateY(0);
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #113CFC, #1597E5 80%);
    opacity: 1;
    flex-direction: column;
    gap: 50px !important;
  }
  nav#navigation .menu.slide a.option {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
  }
  nav#navigation .menu.slide a.option:hover {
    transform: translateY(-10px);
    color: #193498;
  }
  nav#navigation .buttons {
    position: fixed;
    bottom: 20%;
    left: 50%;
    opacity: 0;
    transform: translateY(-200px);
    z-index: 3;
    transition: 300ms all cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  nav#navigation .menu.slide + .buttons {
    opacity: 1;
    transform: translateY(0) translate(-50%, -50%) !important;
  }
}
nav#navigation .hamburger {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: none;
  transition: 300ms all cubic-bezier(0.215, 0.61, 0.355, 1);
}
nav#navigation .hamburger * {
  transition: 300ms all cubic-bezier(0.215, 0.61, 0.355, 1);
}
nav#navigation .hamburger.active div {
  transform: translateX(0) !important;
}
nav#navigation .hamburger.active div:first-child {
  transform: translateX(0) rotate(45deg) !important;
}
nav#navigation .hamburger.active div:last-child {
  transform: translateX(0) rotate(-45deg) !important;
}
nav#navigation .hamburger div {
  position: absolute;
  width: 25px;
  height: 4px;
  background-color: #000;
  border-radius: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
nav#navigation .hamburger div:first-child {
  transform: translateY(-4px);
}
nav#navigation .hamburger div:last-child {
  transform: translateY(4px);
}
nav#navigation .logo .site-name {
  font-size: 1.5em;
  font-weight: 500;
}
nav#navigation .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
nav#navigation .menu a.option {
  font-size: 1.05em;
  font-weight: 400;
  color: rgba(27, 27, 27, 0.7);
  text-decoration: none;
  transition: 200ms all ease-out;
}
nav#navigation .menu a.option.active {
  color: #113CFC;
}
nav#navigation .menu a.option:hover {
  color: #113CFC;
}
nav#navigation .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav#navigation .buttons button {
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
footer {
  position: relative;
  transform: translateY(30%);
  width: 100vw;
  height: 380px;
  background-color: #2C2891;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
@media screen and (max-width: 1000px) {
  footer {
    padding: 2rem;
    flex-direction: column;
    gap: 20px;
  }
  footer .column {
    align-items: center !important;
    width: 90% !important;
  }
  footer .column .corner {
    align-items: center !important;
  }
  footer .column .corner .copyright {
    text-align: center;
  }
  footer .column .corner .bar:first-child {
    display: none;
  }
  footer .middle .options {
    flex-direction: row !important;
  }
}
footer .wave {
  bottom: 370px;
  left: 0;
}
footer .column,
footer .middle {
  z-index: 3;
}
footer .column {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
footer .column.left {
  align-items: flex-start;
}
footer .column.left .corner {
  align-items: flex-start;
}
footer .column.right {
  align-items: flex-end;
}
footer .column.right .corner {
  align-items: flex-end;
}
footer .column .corner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
footer .column .corner .logo {
  font-size: 1.4em;
}
footer .column .corner .copyright {
  font-size: 0.8em;
}
footer .column .corner .copyright a {
  color: #791FE2;
  text-decoration: none;
}
footer .column .corner .bar {
  width: 200px;
  height: 1px;
  background-color: #F3F1F5;
}
footer .column .corner .bar.small {
  width: 100px;
}
footer .column .corner .bar.big {
  width: 300px;
}
footer .column .corner .wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
}
footer .column .corner .wrapper a {
  text-decoration: none;
  color: #fff;
}
footer .middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
footer .middle .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
footer .middle .options a.option {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 0.85em;
  transition: 200ms all ease-out;
}
footer .middle .options a.option:hover {
  color: #fff;
}
footer .middle .to-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
}
footer .middle .to-top * {
  transition: 300ms all ease-out;
}
footer .middle .to-top:hover img {
  transform: translateY(-30%);
}
footer .middle .to-top .text {
  font-weight: 500;
  font-size: 0.8em;
  color: #fff;
}
