@keyframes fade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.btn {
  outline: none;
  border: none;
  padding: 12px 35px;
  border-radius: 15px;
  background-color: #113CFC;
  color: #fff;
  text-decoration: none;
  transition: 150ms all ease;
}
.btn.gradient-btn {
  background-image: linear-gradient(to right, #193498, #113CFC) !important;
}
.btn.gradient-btn:hover {
  background-size: 400% 400%;
  animation: fade 1s linear infinite;
}
.btn:active {
  transform: scale(0.95);
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.input-wrapper input.input {
  position: relative;
  margin-top: 20px;
  outline: none;
  background: none;
  border: none;
  width: 90px;
  height: 40px;
  border-bottom: 3px solid #193498;
  font-size: 1.05em;
  padding-left: 10px;
  color: #113CFC;
  font-weight: 600;
  transition: 300ms all ease-out;
}
.input-wrapper input.input:focus {
  width: 180px;
}
.input-wrapper input.input:not(:placeholder-shown) {
  width: 180px;
}
.input-wrapper label {
  color: #193498;
  font-size: 0.7em;
  font-weight: 800;
}
.wave {
  position: absolute;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.icon16 {
  width: 16px;
  height: 16px;
}
.icon20 {
  width: 20px;
  height: 20px;
}
.icon24 {
  width: 24px;
  height: 24px;
}
.icon32 {
  width: 32px;
  height: 32px;
}
.icon48 {
  width: 48px;
  height: 48px;
}
.icon64 {
  width: 64px;
  height: 64px;
}
.icon128 {
  width: 128px;
  height: 128px;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
body {
  height: 150vh !important;
}
section.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1300px) {
  section.section-1 form#form {
    width: 70% !important;
    height: 60% !important;
    padding: 1.5rem !important;
  }
  section.section-1 form#form .illustration-wrapper {
    position: static !important;
    width: 1px !important;
  }
  section.section-1 form#form .illustration-wrapper img {
    bottom: 0 !important;
    top: 50% !important;
    right: 20% !important;
    transform: translate(50%, -50%);
  }
  section.section-1 form#form .form-wrapper {
    width: 80% !important;
  }
  section.section-1 form#form .form-wrapper span.error {
    width: 80vw !important;
    top: -2% !important;
  }
  section.section-1 form#form .form-wrapper span.header {
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  section.section-1 form#form {
    width: 100% !important;
    border-radius: 0px !important;
    box-shadow: none !important;
  }
  section.section-1 form#form .form-wrapper {
    width: 90% !important;
  }
  section.section-1 form#form .illustration-wrapper img {
    width: 40vw !important;
  }
}
section.section-1 form#form {
  position: relative;
  z-index: 4;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3rem;
}
section.section-1 form#form .wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}
section.section-1 form#form .wrapper span.error {
  color: #e74c3c;
  font-weight: 500;
  font-size: 0.9em;
  position: absolute;
  left: 0;
  top: -2%;
  transition: 200ms all ease-out;
  opacity: 0;
  width: 30vw;
}
section.section-1 form#form .wrapper span.error.show {
  opacity: 1;
}
section.section-1 form#form .wrapper span.header {
  width: 100%;
  font-size: 2.6em;
  color: #193498;
  font-weight: 500;
  text-align: left;
}
section.section-1 form#form .wrapper .inputs {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
section.section-1 form#form .wrapper .inputs .input-wrapper {
  width: 100%;
  align-items: flex-start;
}
section.section-1 form#form .wrapper .inputs button {
  position: absolute;
  left: 0;
  bottom: 5%;
}
section.section-1 form#form .wrapper.illustration-wrapper img {
  position: absolute;
  width: 30vw;
  bottom: -10%;
}
section.section-1 form#form .info {
  position: absolute;
  left: 3rem;
  bottom: 5%;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}
section.section-1 form#form .info a {
  text-decoration: none;
  color: #113CFC;
  font-weight: 700;
}
