@keyframes fade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.btn {
  outline: none;
  border: none;
  padding: 12px 35px;
  border-radius: 15px;
  background-color: #113CFC;
  color: #fff;
  text-decoration: none;
  transition: 150ms all ease;
}
.btn.gradient-btn {
  background-image: linear-gradient(to right, #193498, #113CFC) !important;
}
.btn.gradient-btn:hover {
  background-size: 400% 400%;
  animation: fade 1s linear infinite;
}
.btn:active {
  transform: scale(0.95);
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.input-wrapper input.input {
  position: relative;
  margin-top: 20px;
  outline: none;
  background: none;
  border: none;
  width: 90px;
  height: 40px;
  border-bottom: 3px solid #193498;
  font-size: 1.05em;
  padding-left: 10px;
  color: #113CFC;
  font-weight: 600;
  transition: 300ms all ease-out;
}
.input-wrapper input.input:focus {
  width: 180px;
}
.input-wrapper input.input:not(:placeholder-shown) {
  width: 180px;
}
.input-wrapper label {
  color: #193498;
  font-size: 0.7em;
  font-weight: 800;
}
.wave {
  position: absolute;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.icon16 {
  width: 16px;
  height: 16px;
}
.icon20 {
  width: 20px;
  height: 20px;
}
.icon24 {
  width: 24px;
  height: 24px;
}
.icon32 {
  width: 32px;
  height: 32px;
}
.icon48 {
  width: 48px;
  height: 48px;
}
.icon64 {
  width: 64px;
  height: 64px;
}
.icon128 {
  width: 128px;
  height: 128px;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #cacaca;
  background: linear-gradient(50deg, #fff 80%, #cacaca);
  width: 100vw;
  height: 350vh;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1597E5;
}
/* Handle */
::-webkit-scrollbar-thumb {
  transition: 200ms all ease-out;
  background: #113CFC;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #193498;
}
section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 1000px) {
  section.section-1 .greeting {
    width: 90%;
    top: 40% !important;
  }
}
@media screen and (max-width: 768px) {
  section.section-1 .greeting span.header {
    font-size: 3em !important;
  }
}
section.section-1 .greeting {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
section.section-1 .greeting span.header {
  font-size: 4em;
  font-weight: 500;
  text-align: center;
}
section.section-1 .greeting a {
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}
section.section-1 .wave {
  bottom: 0;
}
@media screen and (max-width: 1220px) {
  section.section-2 .illustration {
    left: 10% !important;
    bottom: 10% !important;
  }
}
@media screen and (max-width: 900px) {
  section.section-2 .rectangle {
    height: 50vh !important;
  }
  section.section-2 .rectangle .illustration {
    width: 25vw !important;
    bottom: -6% !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
  section.section-2 .rectangle .content-wrapper {
    top: 5% !important;
    right: 50% !important;
    transform: translateX(50%);
    align-items: center !important;
  }
  section.section-2 .rectangle .content-wrapper p.description {
    text-align: center !important;
    width: 70vw !important;
  }
  section.section-2 .download-wrapper {
    height: 50vh !important;
    flex-direction: column;
    gap: 20px;
  }
  section.section-2 .download-wrapper .text-content {
    align-items: center !important;
  }
  section.section-2 .download-wrapper .text-content span.sub-header {
    font-size: 2em !important;
  }
  section.section-2 .download-wrapper .text-content p.sub-description {
    font-size: 1em !important;
    text-align: center;
  }
  section.section-2 .download-wrapper .bar {
    transform: rotate(0) !important;
  }
  section.section-2 .download-wrapper .download-content {
    height: 20% !important;
  }
}
@media screen and (max-width: 600px) {
  section.section-2 p.sub-description {
    width: 95vw !important;
  }
}
section.section-2 .rectangle {
  position: relative;
  height: 65vh;
  top: -1px;
  background: linear-gradient(180deg, #1E9EE4, #113CFC);
}
section.section-2 .rectangle .illustration {
  position: absolute;
  left: 20%;
  bottom: -15%;
  width: 30vw;
}
section.section-2 .rectangle .content-wrapper {
  position: absolute;
  right: 15%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  color: #fff;
}
section.section-2 .rectangle .content-wrapper span.header {
  font-size: 2.5em;
  font-weight: 500;
}
section.section-2 .rectangle .content-wrapper p.description {
  width: 30vw;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 1.2em;
}
section.section-2 .download-wrapper {
  width: 100vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
}
section.section-2 .download-wrapper .text-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
section.section-2 .download-wrapper .text-content span.sub-header {
  font-size: 3em;
  font-weight: 500;
}
section.section-2 .download-wrapper .text-content p.sub-description {
  width: 50%;
  font-weight: 400;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.7);
}
section.section-2 .download-wrapper .bar {
  width: 200px;
  height: 4px;
  transform: rotate(-90deg);
  border-radius: 4px;
  background-color: #193498;
}
section.section-2 .download-wrapper .download-content {
  height: 100%;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.section-2 .download-wrapper .download-content .btn {
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-width: 250px;
}
@media screen and (max-width: 1400px) {
  section.section-3 .tiles {
    gap: 30px !important;
  }
}
@media screen and (max-width: 1250px) {
  section.section-3 .tiles .tile {
    width: 300px !important;
    height: 420px !important;
  }
}
@media screen and (max-width: 1000px) {
  section.section-3 .rectangle {
    padding-top: 0.5rem !important;
  }
  section.section-3 .tiles {
    flex-direction: column !important;
    margin-top: 25px;
  }
  section.section-3 .tiles .tile {
    flex-direction: row !important;
    height: 120px !important;
    width: 80% !important;
    padding: 0 !important;
    transform: translateY(10%) !important;
  }
  section.section-3 .tiles .tile .text-wrapper {
    align-items: flex-start !important;
    gap: 5px !important;
    max-width: 370px;
    margin-left: 30px;
  }
  section.section-3 .tiles .tile .text-wrapper .feature-description {
    text-align: left !important;
    font-size: 0.9em !important;
  }
  section.section-3 .tiles .tile:hover {
    transform: translateY(0) !important;
  }
}
@media screen and (max-width: 768px) {
  section.section-3 .rectangle {
    height: 80% !important;
  }
  section.section-3 .feature-icon {
    width: 48px;
    height: 48px;
    margin-left: 15px;
  }
  section.section-3 .feature-name {
    font-size: 1.4em !important;
  }
  section.section-3 .arrow-right-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  section.section-3 .accounts-info {
    margin-top: 200px !important;
    font-size: 1.1em !important;
  }
}
section.section-3 .rectangle {
  width: 100vw;
  height: 65%;
  background-color: #113CFC;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
section.section-3 .rectangle span.header {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.section-3 .rectangle .tiles {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 94px;
}
section.section-3 .rectangle .tiles .tile {
  width: 380px;
  height: 470px;
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(20%);
  box-shadow: #26394d 0px 20px 30px -10px;
  transition: 300ms all ease;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 2rem;
}
section.section-3 .rectangle .tiles .tile * {
  transition: 300ms all ease;
}
section.section-3 .rectangle .tiles .tile .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
section.section-3 .rectangle .tiles .tile .text-wrapper span.feature-name {
  color: #113CFC;
  font-size: 2.2em;
  font-weight: 500;
}
section.section-3 .rectangle .tiles .tile .text-wrapper p.feature-description {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-align: center;
  width: 90%;
}
section.section-3 .rectangle .tiles .tile img.arrow-right-icon {
  opacity: 0;
  transform: translateY(100%);
}
section.section-3 .rectangle .tiles .tile:hover {
  transform: translateY(-1%);
  background-color: #193498;
  cursor: pointer;
}
section.section-3 .rectangle .tiles .tile:hover img.feature-icon {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(354deg) brightness(108%) contrast(101%);
}
section.section-3 .rectangle .tiles .tile:hover img.arrow-right-icon {
  opacity: 1;
  transform: translateX(0);
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(354deg) brightness(108%) contrast(101%);
}
section.section-3 .rectangle .tiles .tile:hover .text-wrapper span.feature-name {
  color: #fff;
}
section.section-3 .rectangle .tiles .tile:hover .text-wrapper p.feature-description {
  color: rgba(255, 255, 255, 0.8);
}
section.section-3 .accounts-info {
  margin-top: 10%;
  font-size: 1.4em;
  font-weight: 400;
  color: #707070;
  text-align: center;
}
section.section-3 .accounts-info a {
  transition: 200ms all linear;
  text-decoration: none;
}
section.section-3 .accounts-info a:first-child {
  color: #113CFC;
}
section.section-3 .accounts-info a:last-child {
  color: #2C2891;
}
